body{
    font-family: verdana;
}
*{
    margin:0;
    padding:0;
}
/* Header/Logo Title */
.header {
    padding: 10px;
    text-align: right;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }
